matplotlib==3.7.5
nltk==3.8.1
pandas==1.5.3
pick==2.2.0
seaborn==0.13.0
spacy==3.7.2
textblob==0.18.0
scikit-learn==1.3.2
numpy==1.24.4
yake==0.4.8
sqlalchemy==2.0.29
psycopg2==2.9.9
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
